.animal-show {
  max-width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid lightgrey;
  padding: 20px;
}

.animal-show .img-animal {
  width: 100%;
  height: 100%;
  max-width: 100%;

}

.animal-show .img-heart {
  position: absolute;
  left: 0px;
  bottom: 0;
}