.app {
  margin: 50px 0 0;
}

.app .container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.app .render-animals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.app .btn {
  margin: 0 0 50px;
  color: #fff;
  background-color: #28a745;
  border: none;
  transition: all 0.3s ease;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.app .btn:hover {
  background: #4fc36a;
}